<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--
		value can be IE,
		FIREFOX (work good with FF 45.0: https://ftp.mozilla.org/pub/firefox/releases/45.0/win32/en-US/Firefox%20Setup%2045.0.exe
		CHROME,
		EDGE (MS Edge compatibility: https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/)
		**Make sure each browser is installed in its default directory**
		-->
		<add key="browser" value="CHROME"/>
		<add key="os" value="windows"/>
		<add key="DefaultEnvironment" value="test"/>

		<add key="test:MainAppUrlBase" value="https://www.spotify.com/ar/signup/"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
